*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body{
	height: 100%;
}

body {
    color: #fff;
    overflow: hidden; /*is the scroll bar*/
}

.top{
    width: 100%;
    height: 100%;
    align-content: center;
}

.first-left{
    grid-column: 3;
}

.second-left{
    grid-column: 4;
}

.first-right{
    grid-row: 1;
    grid-column: 1;
}
.group{ 
    position:relative; 
      margin-bottom:45px; 
      margin-top: 7%;
}
input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 90%;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
    color: white;
}
input:focus{ 
    outline:none; 
}
label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
}

input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color: #1C39BB;
}
.bar{ 
    position:relative;
    display:block;
    width: 90%;
}
.path-bar{
    position:relative;
    display:block;
    width:80%;
}
.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: #1C39BB; 
    transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
  
input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
}
  
@keyframes inputHighlighter {
    from  { background: #1C39BB }
    to    { width:0; background:transparent; }
}

.open-icon{
    display: inline-block;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../Resource/Icon/open_folder.png');
    background-size: cover;
    cursor: pointer;
}

.group-container{
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 1.8em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
    opacity: 0.4;
    cursor: pointer;
}

.group-container:hover{
    opacity: 0.8;
}

.group-delete-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../Resource/Icon/remove.png');
    background-size: cover;
    margin-left: 10%;
}

/* TODO */
.disabled {
    pointer-events:none;
    opacity:0.6;         
}