<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../../style/index.css" />
    </head>
    <body>

        <div class="card dark" id="default-theme">
            <div class="content">
                <div class="color-theme bg-dark"></div>
                <div class="color-theme font-dark"></div>
                <div class="color-theme primary-dark"></div>
                <div class="color-theme secondary-dark"></div>
                <p><strong>Dark theme</strong></p>
            </div>
            
        </div> 

        <div class="card light" id="light-theme">
            <div class="content">
                <div class="color-theme bg-light"></div>
                <div class="color-theme font-light"></div>
                <div class="color-theme primary-light"></div>
                <div class="color-theme secondary-light"></div>
                <p><strong>Light theme</strong></p>
            </div>
        </div>
        <button class="button-cancel" id="cancel">CANCEL</button>
        
    </body>
    <script src="../../renderer/theme-setup.js"></script>
    <script src="./renderer.js"></script>
</html>
