.content {
    padding: 20px 20px;
    text-align: center;
}

.color-theme {
    border: 1px solid gray;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bg-dark {
    background-color: #121212;
}

.primary-dark {
    background-color: #E91E63;
}


.font-dark {
    background-color: white;
}

.bg-light {
    background-color: white;
}

.primary-light {
    background-color: #1C39BB;
}

.font-light {
    background-color: #424242;
}

button {
    position: absolute;
    left: 80%;
    top: 90%;
}