@font-face {
    font-family: Lato;
    src:  url('../resource/Font/Lato/Lato-Regular.ttf') format('ttf'),
}

:root {
    --bg-color: #121212;
    --primary-color: #1C39BB;
    --font-color: white;
    --card-bg-color: #1e1e1e;
    --hover-color:  #252525;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --font-color: white;
    --hover-color: #252525;
    --card-bg-color: #1e1e1e;
}

[data-theme="light"] {
    --bg-color: white;
    --font-color: #424242;
    --hover-color: #e9f3f8;
    --card-bg-color: white;
}

body, html {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    user-select: none;
}
/*
    Home Page Structure
*/

.wrapper {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 150px 1fr 1fr;
    height: 85vh;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    border-right: none;
    overflow-x: hidden;
    padding-top: 10px;
    overflow-y: scroll;
}

.content {
    grid-row: 1/4;
    grid-column: 2/4;
    margin-left: 5px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position:fixed;
    left:0px;
    bottom:0px;
    height:10%;
    width:100%;
}

/*
    ELEMENTS
*/

button {
    display: inline-block;
    background-color: var(--bg-color);
    color: #DD22FF;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    color: white;
    padding: 6px 16px;
    background-color: #DD22FF;
}

.button-cancel {
    color: #ff0000;
}

.button-cancel:hover{
    background-color: #ff0000;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
}

.delete-icon {
    background-image: url('../resource/Icon/remove.png');
    margin-left: 10%;
}

.editor-icon{
    opacity: 0.4;
    margin-left: 30px;
}

.editor-icon:hover{
    opacity: 1;
}

/*
    CONTEXTMENU 
*/
ul {
    z-index: 1;
    background-color: white;
    list-style-type: none;
    position: fixed;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px 0px;
    border-radius: 4px;
}

li {
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

li:hover {
    background-color: #e9f3f8;
}

/*
    NONE PROJECT INFO
*/
.none-project-info {
    color: var(--font-color);
    grid-column: 2/3;
    grid-row: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    visibility: hidden;
}
/* 
    Scrollbar sidenav
*/
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0); 
}
/* 
    CURTAIN SEARCH
*/ 

.wrapper-top {
    grid-row: 1;
    grid-column: 3;
}

.curtain {
    width: 100%; 
    height: 90vh;
    overflow: hidden;
}
    
.curtain_wrapper {
    width: 100%;
    height: 100%;
}

.search-bar {
    background-color: var(--bg-color);
    border: none;
    padding: 5px 10px;
    width: 40%;
    font-size: 16px;
    position: relative;
    padding-top: 2%;
    margin-left: 10px;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--font-color);
    transition: width  0.4s ease-in-out;
}

input[type=checkbox] {
    position: absolute; 
    z-index: 1; 
    opacity: 0; 
}
  
input[type=checkbox]:checked ~ div.curtain_panel_top {
    transform: translateY(0);
}
                  
.curtain_panel {
    background: var(--bg-color);
    width: 100%; 
    height: 8%; 
    position: relative;
    z-index: 2;
    transition: all 1s ease-out; 
}
  
.curtain_panel_top {
    transform: translateY(-100%);
}

/*
    CARD
*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    width: 40%;
    border-radius: 5px;
    float: left;
    margin: 20px;
    color: black;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}